@model List<DhruvikLimbasiya_0415.Models.DbContext.TransactionsHistory>


<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Transaction date</th>
                <th>Transaction Amount</th>
                <th>Total Amount</th>

            </tr>
        </thead>

        <tbody>

            @if (Model != null)
            {

                foreach (var item in Model)
                {
                    if (item.DebitAmount == 20)
                    {
                        <tr>
                            <td>@item.TransactionDate</td>
                            <td class="text-danger">-@item.DebitAmount</td>
                            <td>@(item.TotalAmount-item.CreditAmount)</td>
                        </tr>
                    }
                    <tr>

                        <td>@item.TransactionDate</td>
                        <td class="text-success">+@item.CreditAmount</td>
                        <td>@item.TotalAmount</td>
                    </tr>

                }
            }
        </tbody>
    </table>
    @Html.ActionLink("Back to home Page", "Dashboard", new { @Controller = "Dashboard" }, htmlAttributes: new { @class = "btn btn-outline-primary" })
</div>
